<html>
  
  <head>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  </head>
  <body>



    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Search</a></li>
            <li><a href="#">Create</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Options <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Login</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>




    <div class="container">


      <div class="row">

        <div class="col-xs-12">

          <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">

              <form role="form">

                <div class="form-group">
                  <label for="model_name">Model Name</label>
                  <input type="email" class="form-control" id="model_name" name="model_name" placeholder="Enter Model Name">
                </div>
                <div class="field">
                  <label for="model_file">Model File</label>
                  
                  <div class="fileupload fileupload-new" data-provides="fileupload">
                    <div class="input-group">
                      <div class="uneditable-input col-lg-3"><i class="icon-file fileupload-exists"></i> 
                        <span class="fileupload-preview"></span>
                      </div>
                      <span class="btn btn-default btn-file">
                        <input capture="camera" class="file-input" id="model_file" name="model_file" type="file">
                      </span>
                    </div>
                  </div>

                </div>

                <hr/>

                <btn type="submit" class="btn btn-primary pull-right">Submit</btn>
              </form>
              
            </div>
            <div class="col-xs-1"></div>
          </div>


        </div>

      </div>

    </div>














    




    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>